In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df1 = pd.read_csv("Datasets\\autism_screening_ADULT.csv")
df2 = pd.read_csv("Datasets\\autism_screening_CHILDREN.csv")
df3 = pd.read_csv("Datasets\\autism_screening_TODDLER.csv")

In [3]:
df1.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2.0,18 and more,?,NO

In [4]:
df2.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,4-11 years,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,Middle Eastern,no,no,Jordan,no,5,4-11 years,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,4-11 years,?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,4-11 years,?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,United States,no,10,4-11 years,Parent,YES

In [5]:
df3.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [6]:
df1.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [7]:
df2.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [8]:
df3.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Age_Mons',
       'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice', 'Family_mem_with_ASD',
       'Who completed the test', 'Class/ASD Traits '],
      dtype='object')

In [9]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)
df3.dropna(inplace=True)

In [10]:
def prepro(data):
    re = dict()
    re['contry_of_res'] = 'country'
    re['jundice'] = 'jaundice'
    re['relation'] = 'Who completed the test'
    for i in data:
        if ('_Score' in i):
            re[i]= i[:-6]
    data.drop(['austim','used_app_before','age_desc','result'],axis=1,inplace=True)
    data["Class/ASD"] = data["Class/ASD"].apply(lambda s : s.capitalize())
    data.rename(columns=re,inplace=True)  
    data['ethnicity'] = data['ethnicity'].replace('?','Others')
    data['ethnicity'] = data['ethnicity'].replace('others','Others')
    data['ethnicity'] = data['ethnicity'].replace('White-European','White European')
    data['Who completed the test'] = data['Who completed the test'].replace('self','Self')
    data['Who completed the test'] = data['Who completed the test'].replace('?','Others')
    return data
df1 = prepro(df1)
df2 = prepro(df2)

In [11]:
r = dict()
r["Age_Mons"] = "age"
r["Sex"] = "gender"
r["Ethnicity"] = "ethnicity"
r["Jaundice"] = "jaundice"
r["Class/ASD Traits "] = "Class/ASD"
df3.drop(['Qchat-10-Score'],axis=1,inplace=True)
df3.rename(columns=r,inplace=True)
df3["ethnicity"] = df3["ethnicity"].apply(lambda s : s.title())
df3["age"] = df3["age"].apply(lambda x: round(x/12, 1))
df3['ethnicity'] = df3['ethnicity'].replace('Pacifica','Pasifika')
df3['Who completed the test'] = df3['Who completed the test'].replace('Health care professional','Health Care Professional')
df3['Who completed the test'] = df3['Who completed the test'].replace('family member','Relative')

In [12]:
d1 = df1.copy()
d2 = df2.copy()
d3 = df3.copy()

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

co = ['gender','ethnicity','jaundice','country','Who completed the test','Class/ASD','Family_mem_with_ASD']

In [15]:
def le(df,n):
    df.apply(lambda x: d[x.name].fit_transform(x))
    for i in d.copy():
        if i not in co:
            del d[i]
    pickle.dump(d, open("Pickle//encoder"+str(n)+".pkl", "wb"))        
    return d

In [16]:
def en(q,n):
    d = pickle.load(open("Pickle//encoder"+str(n)+".pkl", "rb"))
    q = q.apply(lambda x: d[x.name].transform(x) if x.name in co else x)    
    return q

In [17]:
def pro(df,n):
    d = le(df,n)
    return en(df,n)
     

df1 = pro(df1,1)
df2 = pro(df2,2)
df3 = pro(df3,3)

In [18]:
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,jaundice,country,Who completed the test,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26.0,0,9,0,64,4,0
1,1,1,0,1,0,0,0,1,0,1,24.0,1,3,0,13,4,0
2,1,1,0,1,1,0,1,1,1,1,27.0,1,3,1,56,2,1
3,1,1,0,1,0,0,1,1,0,1,35.0,0,9,0,64,4,0
4,1,0,0,0,0,0,0,1,0,0,40.0,0,5,0,22,1,0

In [19]:
df2.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,jaundice,country,Who completed the test,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,6.0,1,5,0,24,2,0
1,1,1,0,0,1,1,0,1,0,0,6.0,1,4,0,24,2,0
2,1,1,0,0,0,1,1,1,0,0,6.0,1,5,0,24,1,0
3,0,1,0,0,1,1,0,0,0,1,5.0,0,5,1,24,1,0
4,1,1,1,1,1,1,1,1,1,1,5.0,1,5,1,51,2,1

In [20]:
df3.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD
0,0,0,0,0,0,0,1,1,0,1,2.3,0,4,1,0,2,0
1,1,1,0,0,0,1,1,0,0,0,3.0,1,10,1,0,2,1
2,1,0,0,0,0,0,1,1,0,1,3.0,1,4,1,0,2,1
3,1,1,1,1,1,1,1,1,1,1,2.0,1,2,0,0,2,1
4,1,1,0,1,1,1,1,1,1,1,1.7,0,10,0,1,2,1

In [21]:
import warnings
warnings.filterwarnings("ignore")

In [22]:
from sklearn import metrics

# MODEL DEVELOPMENT

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
from sklearn.svm import SVC

In [26]:
from sklearn.naive_bayes import GaussianNB

# ADULTS

In [27]:
X1 = df1.iloc[:,:-1]
y1 = df1.iloc[:,-1]

In [28]:
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1,test_size = 0.2,random_state = 42)

## KNN

In [29]:
model1 = KNeighborsClassifier(n_neighbors=3)
model1.fit(X1_train, y1_train)

pred1 = model1.predict(X1_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y1_test,pred1))

ACCURACY: 0.6950

## DECISION TREE

In [30]:
model2 = DecisionTreeClassifier()
model2.fit(X1_train, y1_train)

pred2 = model2.predict(X1_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y1_test,pred2))

ACCURACY: 0.9007

## SVM

In [31]:
model3= SVC(probability=True)
model3.fit(X1_train, y1_train)

pred3 = model1.predict(X1_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y1_test,pred3))

ACCURACY: 0.6950

## NAIVE BAYES

In [32]:
model4 = GaussianNB()
model4.fit(X1_train, y1_train)

pred4 = model4.predict(X1_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y1_test,pred4))

ACCURACY: 0.9716

# CHILDREN

In [33]:
X2 = df2.iloc[:,:-1]
y2 = df2.iloc[:,-1]

In [34]:
from sklearn.model_selection import train_test_split

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2,test_size = 0.2,random_state = 42)

## KNN

In [35]:
model1 = KNeighborsClassifier(n_neighbors=3)
model1.fit(X2_train, y2_train)

pred1 = model1.predict(X2_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y2_test,pred1))

ACCURACY: 0.5345

## DECISION TREE

In [36]:
model2 = DecisionTreeClassifier()
model2.fit(X2_train, y2_train)

pred2 = model2.predict(X2_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y2_test,pred2))

ACCURACY: 0.8103

## SVM

In [37]:
model3= SVC(probability=True)
model3.fit(X2_train, y2_train)

pred3 = model1.predict(X2_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y2_test,pred3))

ACCURACY: 0.5345

## NAIVE BAYES

In [38]:
model4 = GaussianNB()
model4.fit(X2_train, y2_train)

pred4 = model4.predict(X2_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y2_test,pred4))

ACCURACY: 0.8448

# TODDLERS

In [39]:
X3 = df3.iloc[:,:-1]
y3 = df3.iloc[:,-1]

In [40]:
from sklearn.model_selection import train_test_split

X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3,test_size = 0.2,random_state = 42)

## KNN

In [41]:
model1 = KNeighborsClassifier(n_neighbors=3)
model1.fit(X3_train, y3_train)

pred1 = model1.predict(X3_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y3_test,pred1))

ACCURACY: 0.9431

## DECISION TREE

In [42]:
model2 = DecisionTreeClassifier()
model2.fit(X3_train, y3_train)

pred2 = model2.predict(X3_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y3_test,pred2))

ACCURACY: 0.9573

## SVM

In [43]:
model3= SVC(probability=True)
model3.fit(X3_train, y3_train)

pred3 = model1.predict(X3_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y3_test,pred3))

ACCURACY: 0.9431

## NAIVE BAYES

In [44]:
model4 = GaussianNB()
model4.fit(X3_train, y3_train)

pred4 = model4.predict(X3_test) 
print("ACCURACY: %.4f"%metrics.accuracy_score(y3_test,pred4))

ACCURACY: 0.9479

# VOTING CLASSIFIER

In [45]:
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
import statistics as st

In [46]:
def evaluate_model(model, X, y):
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    score1 = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
    score2 = cross_val_score(model, X, y, scoring='recall', cv=cv, n_jobs=-1, error_score='raise')
    scores = [score1,score2]
    return scores

## HARD VOTING

In [47]:
def voting_hard(models):
    ensemble = VotingClassifier(estimators=models,voting='hard')
    return ensemble

In [48]:
ensemblemodels1 = [('KNN',KNeighborsClassifier()),('DT',DecisionTreeClassifier()),('SVM',SVC()),('NB',GaussianNB())]

In [49]:
pv1 = voting_hard(ensemblemodels1)
pv2 = voting_hard(ensemblemodels1)
pv3 = voting_hard(ensemblemodels1)

In [50]:
pe1 = evaluate_model(pv1,X1,y1)
pe2 = evaluate_model(pv2,X2,y2)
pe3 = evaluate_model(pv3,X3,y3)
pe = [pe1,pe2,pe3]

In [51]:
for i in range(3):
    print("Voting classifier "+str(i+1)+": ")
    print("Accuracy: %.4f"%(st.mean(pe[i][0])))
    print("Recall: %.4f"%(st.mean(pe[i][1])))
    print()

Voting classifier 1:
Accuracy: 0.8376
Recall: 0.3988

Voting classifier 2:
Accuracy: 0.8389
Recall: 0.7311

Voting classifier 3:
Accuracy: 0.9639
Recall: 0.9611

## SOFT VOTING

In [52]:
ensemblemodels2 = [('KNN',KNeighborsClassifier()),('DT',DecisionTreeClassifier()),('SVM',SVC(probability=True)),('NB',GaussianNB())]

In [53]:
def voting_soft(models):
    ensemble = VotingClassifier(estimators=models,voting='soft')
    return ensemble

In [54]:
pvoting1 = voting_soft(ensemblemodels2)
pvoting2 = voting_soft(ensemblemodels2)
pvoting3 = voting_soft(ensemblemodels2)

In [55]:
peval1 = evaluate_model(pvoting1,X1,y1)
peval2 = evaluate_model(pvoting2,X2,y2)
peval3 = evaluate_model(pvoting3,X3,y3)
peval = [peval1,peval2,peval3]

In [56]:
for i in range(3):
    print("Voting classifier"+str(i+1)+": ")
    print("Accuracy: %.4f"%(st.mean(peval[i][0])))
    print("Recall: %.4f"%(st.mean(peval[i][1])))
    print()

Voting classifier1:
Accuracy: 0.9445
Recall: 0.8835

Voting classifier2:
Accuracy: 0.9130
Recall: 0.8877

Voting classifier3:
Accuracy: 0.9671
Recall: 0.9785

In [ ]:
pvoting1.fit(X1,y1)
pvoting2.fit(X2,y2)
pvoting3.fit(X3,y3)

In [58]:
import pickle

pickle.dump(pvoting1,open('model1.pkl','wb'))
pickle.dump(pvoting2,open('model2.pkl','wb'))
pickle.dump(pvoting3,open('model3.pkl','wb'))

In [59]:
data = np.array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 21, 1, 2, 0, 29, 4]).reshape(1,-1)
data.shape

(1, 16)

In [60]:
model = pickle.load(open('model1.pkl', "rb"))
pred = model.predict(data)
if(pred):
    res="ASD"
else:
    res="NO ASD"

In [61]:
pred[0]

1

In [62]:
res

'ASD'